

.board-container{


  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.board{
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}
.list{
  width: 20em;

}
