<h1 mat-dialog-title>Новый столбец</h1>
<form class="margin-top" form autocomplete="off" (submit)="createNewTodoColumn(newTodoColumn.value)">
  <div mat-dialog-content>


    <mat-form-field appearance="fill">
      <mat-label>Название столбца</mat-label>
      <input #newTodoColumn matInput placeholder="в разработке">
    </mat-form-field>


  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Закрыть</button>
    <button type="submit" mat-raised-button mat-dialog-close color="primary">Создать</button>
  </div>

</form>